#name{
  color: white;
  margin-top: 0;
  font-size: 9vh;
  text-shadow:
    1px 1px 0 #000,
    1px 1px 0 #000,
    1px 1px 0 #000,
    1px 1px 0 #000;

}

#darken{
  background:rgba(0,0,0,.2);
}
.section{

  height: 100vh;
}
body{
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}
#header{
  text-align: center;
  background-image: url("work.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#about{
    background-color: rgb(142, 226, 188);
}
#resume{
    background-color: rgb(169, 169, 169);
    height: 20vh;
    text-align: center;
}
#resume h1{
  color: rgb(142, 226, 188);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 6vh;
  padding-top: 3.5vh;
}
#resume p{
  margin: 0;
}
#resdoc{
  margin-top: 0;
  color: white;
  font-size: 2.7vh;
}
/*#work{
    background-color: rgb(142, 226, 188);
}*/
#contact{
    background-color: rgb(142, 226, 188);
}
.contact-links{
  color: rgb(142, 226, 188);
  font-size: 2.5vh;
}
#lighten-layer{
  background:rgba(255,255,255,.85);
  height: 100vh;
}
#contact-top{
  height: 20vh;
}
#contact-bottom{
  height: 80vh;
}
#contact-bottom-left{
  width: 30vw;
  height: 70vh;
  float: left;
  padding-left: 15vw;
  padding-top: 8vh;
  text-align: left;
}
#contact-bottom-right{
  width: 50vw;
  height: 80vh;
  float: left;
}

div h1#contactheading{
  font-size: 4vh;
}

#header-top{
  height: 40vh;
}
#header-mid{
  height: 20vh;
}
#header-bottom{
  height: 40vh;
}
#nutshell{
  webkit-transition: all 250ms ease-in;
  moz-transition: all 250ms ease-in;
  o-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  color: white;
  text-decoration: none;
  font-size: 2vw;
}
li{
  display: inline;
  padding-right: .5vw;
  padding-left: .5vw;
  text-shadow:
    1px 1px 0 #000,
    1px 1px 0 #000,
    1px 1px 0 #000,
    1px 1px 0 #000;
}
li a{
  text-decoration: underline;
  color: white;
  font-size: 2.8vh;
}
li a:hover{
  text-decoration: underline;
  color: rgb(142, 226, 188);
}
#map{
  height: 50vh;
  width: 35vw;
  margin-left: 8vw;
  margin-top: 13vh;
}
ul{
  padding: 0;
}

#header-top-left{
  width: 83vw;
  height: 25vh;
  float: left;
}

#header-top-right{
  margin-top: 10px;
  padding-left: 30px;
  text-align: left;
  width: auto;
  height: 25vh;
  float:left;
}

#github-logo{
  opacity: .7;
  color: white;
}

#github-logo:hover{
  opacity: 1;
}

#linkedin-logo{
  color: white;
  opacity: .7;
}
#linkedin-logo:hover{
  opacity: 1;
}

#email-logo{
  color: white;
  opacity: .7;
}
#email-logo:hover{
  opacity: 1;
}
#about-top{
  height: 20vh;
  background:rgba(255,255,255,.85);
  text-align: center;

}
#about-bottom{
  overflow: scroll;
  height: 80vh;
}
#about-top h1{
  color: rgb(142, 226, 188);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 6vh;
  padding-top: 3.5vh;
}
#about-top p{
  margin-top: 0;
  margin-bottom: 0;
}
#about-bottom-right{
  width: 45vw;
  float: left;
  padding-right: 5vw;
  padding-top: 8vh;
  font-size: 2.2vh;
}
#about-bottom-right a{
    font-size: 2.3vh;
}
#about-bottom-left{
  width: 50vw;
  height: 80vh;
  float: left;
}
#maxiepic{
  width: 20vw;
  padding-left: 12vw;
  padding-top: 20vh;
}
